.chord-row {
	display: flex;
	margin-top: 5px;
	justify-content: space-between;
	width: 670px;
}

.chord-select-display {
	// text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	display: flex;
	align-items: center;
	color: #444;
}

.chord-buttons {
	display: flex;
}

.chord-buttons-row-0 {
	margin-right: 40px;
}
.chord-buttons-row-1 {
	margin-right: 20px;
}
.chord-buttons-row-2 {
	margin-right: 0px;
}