.octave-control{
	display: flex;
	align-items: center;
	color: #777;
	margin-top: 10px;
}

.octave-down, .octave-up {
	font-size: 15px;
	font-weight: bold;
	padding: 0 8px;
	cursor: pointer;
	color: #aaa;
}
.octave-down:hover, .octave-up:hover {
	color: #777;
}
.octave-down {
	transform: rotate(-180deg);
}

.octave-display {
	font-size: 14px;

}