.octave-control{
	display: flex;
	align-items: center;
	color: #777;
	margin-top: 10px;
}

.octave-control-down, .octave-control-up {
	font-size: 15px;
	font-weight: bold;
	padding: 0 8px;
	cursor: pointer;
	color: #aaa;
}
.octave-control-down:hover, .octave-control-up:hover {
	color: #777;
}
.octave-control-down {
	transform: rotate(-180deg);
}

.octave-control-display {
	font-size: 14px;

}