.rootRow {
	display: flex;
	margin-right: 40px;
	align-self: flex-end;
}
.rootTitle {
	width: 40px;
	/*border: 1px solid #eee;*/
	margin-right: 7px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #444;
}